
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


body {
    font-family: 'Rubik', sans-serif;
}


.containerTopico{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navBar {
    height: 69px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


#logoNavBar {
    width: 131px;
    height: 60px;
    display: flex;
    margin: 7px 410px 2px 127px
}

#navBarNameLogo {
    color: #7555F7;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-left: 7px;
}

#search {
    display: flex;
    width: 260px;
    height: 32px;
    color: #828282;
    background-color: #F2F2F2;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 10px 0px;
}

#svgLupa {
    margin: 10px 12px;
}

#inputNavBar {
    width: 201px;
    height: 13px;
    margin: 9px 23px 10px 0px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    border: none;
    background-color: #F2F2F2;
}

#botãoEntrar {
    margin: 29px 131px 26px 201px;
    color: #22AAB3;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
}

#header {
    width: 100%;
    height: 418px;
    display: flex;
    justify-content: center;
    align-items: center;
}



#backgroundHeader {
    position: absolute;
    z-index: -1;
    width: 100%;
}

#Abajour {
    margin-bottom: 3px;
}

#chamadaCadastro {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 131px 147px 79px 59px ;
}

#sloganLogo {
    display: flex;
    align-items: center;
}

#slogan {
    text-align: right;
    font-weight: 500;
    font-size: 50px;
    line-height: 71px;
    margin-right: 30px;
}

#EstudeOnline {
    color: #193651;
}

#paraOCACD {
    color: #4F4F4F;
}

#cadastroHeader {
    width: 235px;
    height: 46px;
    color: #FFFFFF;
    background-color: #7555F7;
    border: none;
    border-radius: 2px;
    margin-top: 38px;
    margin-right: 5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}


#containerTopico1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#topico1 {
    margin: 81px 138px 21px 127px;

}


.tituloTopico {
    color: #000000;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 13px;
}


#filaDeCards {
    width: 1068px;
    height: 211px;
    display: flex;
    justify-content: space-between;
}

.card {
    width: 340px;
    height: 211px;
    background-color: white;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

.divImagemTopico1 {
    width: 340px;
    height: 140px;
}

.imgTopico1 {
    width: 340px;
    height: 140px;
}

.infoCard {
    height: 68px;
    display: flex;
    flex-direction: column;
}

.preçoMateria {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: right;

    color: #333333;

}

.tituloMateria {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #333333;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width:230px;
}


.tituloCardTopico1 {
    display: flex;
    justify-content: space-between;
    padding: 10px 13px 4px 13px;
    align-items: center;
}

.divProfessorConhecer {
    display: flex;
    justify-content: space-between;
    margin: 8px 5px 8px 12px;
    align-items: center;
}

.imagemProfessor {
    width: 22px;
    height: 22px;
    border-radius: 100px;
    margin-right: 5px;
}

.professor {
    color: #333333;
    font-size: 14px;
    line-height: 16.59px;
}

.divBotãoConhecer {
    margin-left: 40px;
}

.botãoConhecer {
    color: #22AAB3;
    font-size: 16px;
    background-color: white;
    border: none;
}

#buttonTopico1 {
    width: 1068px;
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
}

#botãoTodasAulas {
    background-color: white;
    color: #72C9CF;
    width: 235px;
    height: 46px;
    border: 2px solid #72C9CF;
    border-radius: 5px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

#containerTopico2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#topico2 {
    margin: 21px 125px 103px 125px;
}

.gridContainer {
    display: grid;
    gap: 5px 25px;
    grid-template-columns: repeat(3, 1fr);
}



.cardGrid {
    width: 340px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 19px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}


.svgGridDiv {
    width: 340px;
    height: 180px;
    position: absolute;
    z-index: -1;
}

.gridButtonDiv {
    margin-bottom: 19px;
    
}

.gridButton {
    min-width: 200px;
    height: 46px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    border: none;
    color: #FFFFFF;
    background-color: #22AAB3;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.23);
    border-radius: 5px;
}


#topico3 {
    margin: 0px 134px 118px 128px;
}

#opçõesTopico3 {
    width: 427px;
    height: 56px;
    display: flex;
    justify-content: space-between;
}

.botãoTopico3 {
    min-width: 90px;
    height: 56px;
    color: #7555F7;
    background-color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    border: #7555F7 solid 2px;
    border-radius: 5px;
}

.botãoTopico3:focus {
    color: #FFFFFF;
    background-color: #7555F7;
}

#quadroDeMinisimulados {
    width: 1071px;
    height: 249px;
}

.minisimulados {
    height: 86px;
    width: 1071px;
    display: flex;
    align-items: center;
}

.divInformaçõesDosMinisimulados {
    width: 611px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 12px;
}

.tituloMinisimulado {
    width: 160px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.informaçõesDosMinisimulados {
    display: flex;
    align-items: center;
}

.espaçoEntreItemMinisimulado {
    margin-left: 5px;
}

.divFlechaSvg {
    width: 385px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.linha {
    width: 1023.23px;
    height: 0px;
    border: 1px solid #E0E0E0;
    margin-left: 14px;
    margin-right: 33px;
}

footer {
    display: flex;
    height: 405px;
    background-color: #7555F7;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



#funcionalidadesFooter {

    height: 305px;
}

#botõesFooter {
    display: flex;
}

#divFooterLogoEBotãoCadastro {
    width: 320px;
    display: flex;
    align-items: center;
    
}

#divBotãoCadastroFooter {
    margin-left: 48px;
    width: 192px;
    height: 55px;
    display: flex;
    align-items: center;
}

#botãoCadastroFooter {
    width: 192px;
    height: 55px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    background-color: #7555F7;
    box-sizing: border-box;
    border: 2px solid #FFF7F7;
    border-radius: 5px;
}

#facebook {
    width: 751px;
    display: flex;
    justify-content: flex-end;
}

#maisInformaçõesFooter {
    color: #FFFFFF;
    width: 300px;
    height: 133px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 52px;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

#direitosReservados {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

